/*
-~-+=-~-+=-
S T Y L E S
-~-+=-~-+=-
*/

* {
  box-sizing: border-box;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: .5em;
    background: lightgray;
}

.footer-pad {
    height: 3em;
}

body {
  margin: 0;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

.page {
  padding: 1em;
  max-width: 900px;
  margin: 0 auto;
}

.centered * {
  text-align: center;
}

ul.bulletin {
  list-style: none;
  padding: 0;
}

ul.bulletin > li:before {
  content: "*";
  padding-right: 5px;
}

.big {
  font-size: 1.5rem;
}

.medium {
  font-size: 1.25rem;
}

.small {
  font-size: 1rem;
}

img {
    max-width: 100%;
}
